{
  "presets": [
    "es2015",
    "env",
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-jsx",
    "transform-vue-jsx",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./app"
        }
      }
    ]
  ]
}